<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            A highly motivated and determined security engineer that has worked
            in both IT and Security roles. Proficient in python, with an expertise in creating and maintaining security programs from the ground up. Task and result oriented leader with a developed skill set towards enabling enterprise environments to reduce risk across all of their critical infrastructure and environments. With an IT background and a degree in Computer Science, my skill set encompasses everything from python and code analysis to network engineering and exploit frameworks. Focused on employing thoughtful, concise strategies for problem solving with time and cost always being a concern. <br>
 
        </p>
        <p>
           
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Experience giving product demos and running fully featured Proof of Value evaluations in customer environments
    			</li>
          <li>
            Very familiar with securing AWS, Azure and GCP
          <li>
            Created Terraform scripts to automate deployment into various Cloud Platforms
    			<li>
            Presented "The Cyber Exposure Gap" at DataConnectors 2017.
    			</li>
    			<li>
            A copy of my resume can be found <a href="http://chrisbacco.com/BaccoResume2016.pdf">here!</a>
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
