<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Capture The Flag</b>. I'm very interested in vulnerabilities and exploits and this just turns it into a competition. Keeps my knowledge up on the latest and greatest for security awareness. 
			  </li>
			  <li>
				  <b>Road and Mountain Biking</b>. I really enjoy turning the pedals over on the dirt, tarmac and gravel roads. I have entered quite a few races ranging from 30-60 miles of technical single track and have really loved it. 
			  </li>
			  <li>
				  <b>My daughter Ava</b>. My daughter is a little over a year old and has been the single greatest thing to ever happen to me. I really enjoy watching her learn new things and explore her world every day. 
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Building out a product demo environment using Terraform for testing the Tenable.io platform against a variety of different end points, domains and networks.  
    		</li>
  			<li>
          Using the Python SDK to leverage the RESTful API in Tenable.io to bring about certain bits of automation that is not present in the platform itself.  
  			</li>
  		    </ul>
  		  </ul>
      </div>
    </div>
  </div>
</section>
