<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Employment History and Education</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			   <h3 style="margin-top:0"> Work Experience </h3>
        </p>
			<ul>
			  <li>
				 <b>Tenable Network Security / Sales Enginer / Current </b><br>
          • Perform fully featured product demonstrations<br>
          • Leverage product APIs to build out integration points<br>
          • Act as a technical resource for customer engagements <br> 
			  </li>
        <br>
			  <li>
				  <b>Tenable Network Security / ITS Engineer / 5/16 - 10/16</b><br> 
          • System Administrator for Windows Networking environment<br>
          • Utilized Google Administration Manager for Google Suite<br>
          • Managed the implementation of new cloud and SSO technologies<br>
			  </li>
        <br>
			  <li>
				  <b>Helion Technologies / IT Analyst / 4/15 - 5/16</b><br> 
          • Handled technical troubleshooting within an enterprise environment<br>
          • Engaged and tracked Priority 1 issues<br>
          • Managed Cisco Unified Communications Manager and Unity connection<br>
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Education</h3>
		  <ul>
        <li>
          <b>Towson University, Towson, MD</b><br>
          Bachelor of Science in Computer Science
          Graduated May 2015
          GPA: 3.75  
          <br>
        </li>
  			<li>
          <br>
          <b>Community College of Baltimore, Essex, MD</b><br>
          Associates degree in Information Technology
          Graduated May 2013
          GPA: 4.0
    		</li>
  		
  		    </ul>
  		  </ul>
      </div>
    </div>
  </div>
</section>
