<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Employment History and Education</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			   <h3 style="margin-top:0"> Work Experience </h3>
        </p>
			<ul>
			  <li>
				 <b>Tenable Network Security / Sales Enginer / Current </b><br>
          • Perform fully featured product demonstrations
          • Leverage product APIs to build out integration points
          • Act as a technical resource for customer engagements  
			  </li>
			  <li>
				  <b>Tenable Network Security / ITS Engineer / 5/16 - 10/16</b>. 
          • System Administrator for Windows Networking environment
          • Utilized Google Administration Manager for Google Suite
          • Managed the implementation of new cloud and SSO technologies
			  </li>
			  <li>
				  <b>My daughter Ava</b>. My daughter is a little over a year old and has been the single greatest thing to ever happen to me. I really enjoy watching her learn new things and explore her world every day. 
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Education</h3>
		  <ul>
  			<li>
          Community College of Baltimore, Essex, MD
          Associates degree in Information Technology
          Graduated May 2013
          GPA: 4.0
    		</li>
  			<li>
          Towson University, Towson, MD
          Bachelor of Science in Computer Science
          Graduated May 2015
          GPA: 3.75  
  			</li>
  		    </ul>
  		  </ul>
      </div>
    </div>
  </div>
</section>
